asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.12
Django==5.1.7
djangorestframework==3.16.0
djangorestframework-jwt==1.11.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
haversine==2.9.0
idna==3.10
pillow==11.1.0
PyJWT==1.7.1
python-dotenv==1.0.1
requests==2.32.3
rest-framework-simplejwt==0.0.2
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
