{% extends "pagedebase.html" %}
{% block content %}
<br><br><br><br><br>
{% if message.photo %}
            <a href="{% url 'demande_aide' message.id_message %}">{{ message.text }}</a>
            <img src="{{ message.photo.url}}" class="maxImgW">
            <p>Posté par {{ message.User.username }} {% if message.User.is_pro == True %}
            🪴
    {% endif %} le {{ message.date_demande }}
            test</p>
            {% else %}
             <a href="{% url 'demande_aide' message.id_message %}">{{ message.text }}</a>
            <p>Posté par {{ message.User.username }}  {% if message.User.is_pro == True %}
            🪴
    {% endif %} le {{ message.date_demande }}
            </p>
            {% endif %}
<ul>
    <li>

        {% for reponse in reponses %}
        <p>
            Commentaire par {{ reponse.User.username }}  {% if reponse.User.is_pro == True %}
        🪴
    {% endif %} le {{reponse.date_creation}} : {{reponse.text}}
        </p>
        {% endfor %}
    </li>
</ul>
<h2>Ajouter un commentaire</h2>
 <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Affichage du formulaire sous forme de paragraphes -->
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}