{% extends "pagedebase.html" %}
{% block title %} login {% endblock %}
{% block headerContent %}{% endblock %}
{% block content %}<section id="accueil" class="hero">
            <h1>Connexion</h1>
             <form method="post" action= "{% url 'login' %}" id="formConnection">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <input type="submit" value="Se connecter" id="buttonConnection"/>
                    <a href="{% url 'register' %}">Créer un compte</a>
                </p>
            </form>
        </section> {% endblock %}