{% extends "pagedebase.html" %}
{% block title %} Page d'accueil {% endblock %}

{% block content %}

    <main>
        <section id="accueil" class="hero">
            <h1>Bonjour à vous {{ logged_user.pseudo}} !Cultivez votre jardin intérieur</h1>
            <p>Découvrez l'art du jardinage et créez votre propre oasis de verdure</p>
        </section>

        <section id="plantes" class="plants-grid">
            <h2>Dernières plantes avec demande</h2>


            <div class="plant-cards">
            {% for plante in dernieres_plantes%}
            <div class="plant-card">
                {% if plante.photo_plante %}
                <img src="{{ plante.photo_plante.url }}" alt="{{ plante.nom_plante }}">
                {% else %}
                <img src="https://via.placeholder.com/150" alt="{{ plante.nom_plante }}">
                {% endif %}
                <h3>{{ plante.nom_plante }}</h3>
                <p>{{ plante.nom_plante }}</p>
            </div>
            {% empty %}
            <p>Pas de plante ajoutée</p>
            {% endfor %}
        </div>
            <a href="{% url 'all_demande_garde' %}"> Regarder l'ensemble des demandes</a>
        </section>

        <section id="conseils" class="tips">
            <h2>Conseils de Jardinage</h2>
            <div class="tips-container">
                <div class="tip">
                    <h3>🌿 Arrosage</h3>
                    <p>Apprenez à connaître les besoins en eau de vos plantes</p>
                </div>
                <div class="tip">
                    <h3>☀️ Luminosité</h3>
                    <p>Placez vos plantes selon leurs besoins en lumière</p>
                </div>
                <div class="tip">
                    <h3>🌡️ Température</h3>
                    <p>Maintenez une température adaptée à chaque espèce</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}