{% extends "pagedebase.html" %}
{% block title %} Profil {% endblock %}
{% block content %}

    <main>
        <br>
        <br>
        <br>
        <h2> Vos informations</h2>
        <p> Votre pseudo : {{ logged_user.pseudo}} </p>
        <p> Votre adresse : {{ logged_user.adresse}} </p>
        <p> Vous êtes un pro: {{ logged_user.is_pro}} </p>

        <section id="plantes" class="plants-grid">
        <h2>Vos plantes</h2>
        <div class="plant-cards">
            {% for plante in plantes_utilisateur %}
            <div class="plant-card">
                {% if plante.photo_plante %}
                <img src="{{ plante.photo_plante.url }}" alt="{{ plante.nom_plante }}">
                {% else %}
                <img src="https://via.placeholder.com/150" alt="{{ plante.nom_plante }}">
                {% endif %}
                <h3>{{ plante.nom_plante }}</h3>
                <!-- Formulaire de suppression -->
                <form action="{% url 'supprimer_plante' plante.id_plante %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
            {% empty %}
            <p>Vous n'avez pas encore ajouté de plantes.</p>
            {% endfor %}
        </div>
            <a href="{% url 'creer_plante' %}" class="btn btn-primary">Ajouter une nouvelle plante</a>
    </section>

    <section id="plantes2" class="plants-grid">
        <h2>Vos demandes de garde </h2>
        <div class="plant-cards">
            {% for Demande in Demande_demandeur %}
            <div class="plant-card"> <a href="{% url 'garde' Demande.id %}">
                {% if Demande.plante.photo_plante %}
                <img src="{{ Demande.plante.photo_plante.url }}">
                {% else %}
                <img src="https://via.placeholder.com/150" alt="{{ plante.nom_plante }}">
                {% endif %}

                <h3> {{ Demande.plante.nom_plante }}</h3></a>
                <form action="{% url 'supprimer_demande' Demande.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
            {% empty %}
            <p>Vous n'avez pas encore fait de demande de garde.</p>
            {% endfor %}
        </div>
    </section>
        <section id="plantes3" class="plants-grid">
        <h2>Les demandes de gardes acceptées</h2>
        <div class="plant-cards">
            {% for Demande in  Demande_receveur %}
            <div class="plant-card"><a href="{% url 'garde' Demande.id %}">
                {% if Demande.plante.photo_plante %}
                <img src="{{ Demande.plante.photo_plante.url }}">
                {% endif %}
                <h3>{{ Demande.plante.nom_plante }}</h3></a>

            </div>
            {% empty %}
            <p>Vous n'avez pas encore accepté de garder une plante.</p>
            {% endfor %}
        </div>
    </section>
         <form action="{% url 'suppression'%}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Supprimer compte</button>
         </form>
         <form action="{% url 'login'%}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
         </form>
    </main>
{% endblock %}