<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de Confidentialité RGPD</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        h1, h2 {
            color: #333;
        }
        p {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<p> Voulez vous vraiment supprimer votre compte, cela est définitif:</p>
<a href="{% url 'supprimer'%}"><p>Oui</p></a>
</body>